Calculate Price & Enter in Airtable (Webhook).blueprint.json
{
    "name": "Calculate Price & Enter in Airtable (Webhook)",
    "flow": [
        {
            "id": 10,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 751149,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -300,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "fetch data"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "recordID",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "airtable:ActionGetRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2187809
            },
            "mapper": {
                "id": "{{10.RecordID}}",
                "base": "appx5RsFAnrqtkKZW",
                "table": "tblBKBYREbqRjgiKC",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Octopad"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Furnishings"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable Token or Key connection (User ID: usrWg080oVeqLkqbN)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Window Name",
                        "type": "text",
                        "label": "Window Name"
                    },
                    {
                        "name": "Furnishing Type",
                        "type": "text",
                        "label": "Furnishing Type"
                    },
                    {
                        "name": "Project",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Project"
                    },
                    {
                        "name": "Record ID (from Project)",
                        "type": "array",
                        "label": "Record ID (from Project)"
                    },
                    {
                        "name": "Drop (Shutter) mm",
                        "type": "number",
                        "label": "Drop (Shutter) mm"
                    },
                    {
                        "name": "Width (Shutter) mm",
                        "type": "number",
                        "label": "Width (Shutter) mm"
                    },
                    {
                        "name": "Shutter Colour",
                        "type": "text",
                        "label": "Shutter Colour"
                    },
                    {
                        "name": "Shutter Type",
                        "type": "text",
                        "label": "Shutter Type"
                    },
                    {
                        "name": "Tilt Rod Type",
                        "type": "text",
                        "label": "Tilt Rod Type"
                    },
                    {
                        "name": "Photo",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Photo"
                    },
                    {
                        "name": "Shutter Price/SQM",
                        "type": "number",
                        "label": "Shutter Price/SQM"
                    },
                    {
                        "name": "Shutter Total Price",
                        "type": "text",
                        "label": "Shutter Total Price"
                    },
                    {
                        "name": "Pricing Group",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Pricing Group"
                    },
                    {
                        "name": "Google Sheets ID (from Pricing Group)",
                        "type": "array",
                        "label": "Google Sheets ID (from Pricing Group)"
                    },
                    {
                        "name": "RECORD ID (from Pricing Group)",
                        "type": "array",
                        "label": "RECORD ID (from Pricing Group)"
                    },
                    {
                        "name": "Width (Blinds) mm",
                        "type": "number",
                        "label": "Width (Blinds) mm"
                    },
                    {
                        "name": "Drop (Blinds) mm",
                        "type": "number",
                        "label": "Drop (Blinds) mm"
                    },
                    {
                        "name": "Blind Fabric",
                        "type": "text",
                        "label": "Blind Fabric"
                    },
                    {
                        "name": "Blind Colour",
                        "type": "text",
                        "label": "Blind Colour"
                    },
                    {
                        "name": "Blind Remote Control?",
                        "type": "boolean",
                        "label": "Blind Remote Control?"
                    },
                    {
                        "name": "Remote Control Pricing",
                        "type": "number",
                        "label": "Remote Control Pricing"
                    },
                    {
                        "name": "Chain Type",
                        "type": "text",
                        "label": "Chain Type"
                    },
                    {
                        "name": "Control Side",
                        "type": "text",
                        "label": "Control Side"
                    },
                    {
                        "name": "Baserail",
                        "type": "text",
                        "label": "Baserail"
                    },
                    {
                        "name": "Operating Type",
                        "type": "text",
                        "label": "Operating Type"
                    },
                    {
                        "name": "Mounting Option",
                        "type": "text",
                        "label": "Mounting Option"
                    },
                    {
                        "name": "Extras",
                        "type": "array",
                        "label": "Extras",
                        "dynamic": true,
                        "editable": true
                    },
                    {
                        "name": "Extras Total",
                        "type": "number",
                        "label": "Extras Total"
                    },
                    {
                        "name": "Total without GST",
                        "type": "text",
                        "label": "Total without GST"
                    },
                    {
                        "name": "GST (10%)",
                        "type": "text",
                        "label": "GST (10%)"
                    },
                    {
                        "name": "TOTAL",
                        "type": "text",
                        "label": "TOTAL"
                    },
                    {
                        "name": "Auto Price (from Pricing Group)",
                        "type": "number",
                        "label": "Auto Price (from Pricing Group)"
                    },
                    {
                        "name": "Created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "Submission ID (Jotform) (from Property)",
                        "type": "array",
                        "label": "Submission ID (Jotform) (from Property)"
                    },
                    {
                        "name": "Project ID",
                        "type": "text",
                        "label": "Project ID"
                    },
                    {
                        "name": "User ID (Jotform)",
                        "type": "text",
                        "label": "User ID (Jotform)"
                    },
                    {
                        "name": "Email (from User) (from Property)",
                        "type": "array",
                        "label": "Email (from User) (from Property)"
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes",
                        "multiline": true
                    },
                    {
                        "name": "Last Modified",
                        "type": "date",
                        "label": "Last Modified"
                    },
                    {
                        "name": "Another Furnishing?",
                        "type": "boolean",
                        "label": "Another Furnishing?"
                    },
                    {
                        "name": "Width (All)",
                        "type": "text",
                        "label": "Width (All)"
                    },
                    {
                        "name": "Drop (All) copy",
                        "type": "text",
                        "label": "Drop (All) copy"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "airtable:ActionGetRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2187809
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{11.`RECORD ID (from Pricing Group)`}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "id": "{{11.`RECORD ID (from Pricing Group)`}}",
                "base": "appx5RsFAnrqtkKZW",
                "table": "tblmhvK1jvf0IPVfc",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Octopad"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Pricing Groups"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable Token or Key connection (User ID: usrWg080oVeqLkqbN)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Group Name",
                        "type": "text",
                        "label": "Group Name"
                    },
                    {
                        "name": "User (Retailer)",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "User (Retailer)"
                    },
                    {
                        "name": "Email (from User (Retailer))",
                        "type": "array",
                        "label": "Email (from User (Retailer))"
                    },
                    {
                        "name": "Pricing Table",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Pricing Table"
                    },
                    {
                        "name": "Last Updated",
                        "type": "date",
                        "label": "Last Updated"
                    },
                    {
                        "name": "Furnishings",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Furnishings"
                    },
                    {
                        "name": "Projects",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Projects"
                    },
                    {
                        "name": "RECORD ID",
                        "type": "text",
                        "label": "RECORD ID"
                    },
                    {
                        "name": "Google Sheets ID",
                        "type": "text",
                        "label": "Google Sheets ID"
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes",
                        "multiline": true
                    },
                    {
                        "name": "Configured?",
                        "type": "text",
                        "label": "Configured?"
                    }
                ],
                "advanced": true
            },
            "onerror": [
                {
                    "id": 28,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "count": "3",
                        "retry": true,
                        "interval": "2"
                    },
                    "metadata": {
                        "designer": {
                            "x": 600,
                            "y": 300
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Automatically complete execution",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "Number of attempts",
                                "required": true,
                                "validate": {
                                    "max": 10000,
                                    "min": 1
                                }
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "Interval between attempts",
                                "required": true,
                                "validate": {
                                    "max": 44640,
                                    "min": 1
                                }
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 3,
            "module": "google-sheets:updateCell",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2210361
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{4.`Configured?`}}",
                            "b": "Successfully Configured",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "cell": "A21",
                "value": "{{11.`Drop (Blinds) mm`}}",
                "select": "map",
                "sheetId": "{{4.`Group Name`}}",
                "spreadsheetId": "{{4.`Google Sheets ID`}}",
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Enter manually"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (octopad.au@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Spreadsheet and Sheet ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "fromAll",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "cell",
                        "type": "text",
                        "label": "Cell",
                        "required": true
                    },
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Value"
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "text",
                        "label": "Sheet Name",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "google-sheets:updateCell",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2210361
            },
            "mapper": {
                "cell": "B21",
                "value": "{{11.`Width (Blinds) mm`}}",
                "select": "map",
                "sheetId": "{{4.`Group Name`}}",
                "spreadsheetId": "{{3.spreadsheetId}}",
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Enter manually"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (octopad.au@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Spreadsheet and Sheet ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "fromAll",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "cell",
                        "type": "text",
                        "label": "Cell",
                        "required": true
                    },
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Value"
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "text",
                        "label": "Sheet Name",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "google-sheets:getCell",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2210361
            },
            "mapper": {
                "cell": "K21",
                "select": "map",
                "sheetId": "{{4.`Group Name`}}",
                "spreadsheetId": "{{3.spreadsheetId}}",
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Enter manually"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (octopad.au@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Spreadsheet and Sheet ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "fromAll",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "cell",
                        "type": "text",
                        "label": "Cell",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "text",
                        "label": "Sheet Name",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 27,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 12,
                            "module": "airtable:ActionGetRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2187809
                            },
                            "filter": {
                                "name": "Value Valid",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{6.value}}",
                                            "b": "#N/A",
                                            "o": "text:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "id": "{{11.id}}",
                                "base": "appx5RsFAnrqtkKZW",
                                "table": "tblBKBYREbqRjgiKC",
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "mode": "chose",
                                            "label": "Octopad"
                                        },
                                        "table": {
                                            "mode": "chose",
                                            "label": "Furnishings"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "My Airtable Token or Key connection (User ID: usrWg080oVeqLkqbN)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Window Name",
                                        "type": "text",
                                        "label": "Window Name"
                                    },
                                    {
                                        "name": "Furnishing Type",
                                        "type": "text",
                                        "label": "Furnishing Type"
                                    },
                                    {
                                        "name": "Project",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Project"
                                    },
                                    {
                                        "name": "Available Pricing Groups (from Project)",
                                        "type": "array",
                                        "label": "Available Pricing Groups (from Project)"
                                    },
                                    {
                                        "name": "User (from Project)",
                                        "type": "array",
                                        "label": "User (from Project)"
                                    },
                                    {
                                        "name": "Email (from User) (from Project)",
                                        "type": "array",
                                        "label": "Email (from User) (from Project)"
                                    },
                                    {
                                        "name": "Record ID (from Project)",
                                        "type": "array",
                                        "label": "Record ID (from Project)"
                                    },
                                    {
                                        "name": "Width (All)",
                                        "type": "text",
                                        "label": "Width (All)"
                                    },
                                    {
                                        "name": "Drop (All)",
                                        "type": "text",
                                        "label": "Drop (All)"
                                    },
                                    {
                                        "name": "SQM Area",
                                        "type": "text",
                                        "label": "SQM Area"
                                    },
                                    {
                                        "name": "Width (mm)",
                                        "type": "number",
                                        "label": "Width (mm)"
                                    },
                                    {
                                        "name": "Drop (mm)",
                                        "type": "number",
                                        "label": "Drop (mm)"
                                    },
                                    {
                                        "name": "Shutter Colour",
                                        "type": "text",
                                        "label": "Shutter Colour"
                                    },
                                    {
                                        "name": "Shutter Type",
                                        "type": "text",
                                        "label": "Shutter Type"
                                    },
                                    {
                                        "name": "Tilt Rod Type",
                                        "type": "text",
                                        "label": "Tilt Rod Type"
                                    },
                                    {
                                        "name": "Photo",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File name"
                                            },
                                            {
                                                "name": "size",
                                                "type": "uinteger",
                                                "label": "Size"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "MIME type"
                                            },
                                            {
                                                "name": "thumbnails",
                                                "spec": [
                                                    {
                                                        "name": "small",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Small"
                                                    },
                                                    {
                                                        "name": "large",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Large"
                                                    },
                                                    {
                                                        "name": "full",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Full"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Thumbnails"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Photo"
                                    },
                                    {
                                        "name": "Price/SQM",
                                        "type": "number",
                                        "label": "Price/SQM"
                                    },
                                    {
                                        "name": "Total Price",
                                        "type": "text",
                                        "label": "Total Price"
                                    },
                                    {
                                        "name": "Pricing Group",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Pricing Group"
                                    },
                                    {
                                        "name": "Google Sheets ID (from Pricing Group)",
                                        "type": "array",
                                        "label": "Google Sheets ID (from Pricing Group)"
                                    },
                                    {
                                        "name": "RECORD ID (from Pricing Group)",
                                        "type": "array",
                                        "label": "RECORD ID (from Pricing Group)"
                                    },
                                    {
                                        "name": "Width (Blinds) mm",
                                        "type": "number",
                                        "label": "Width (Blinds) mm"
                                    },
                                    {
                                        "name": "Drop (Blinds) mm",
                                        "type": "number",
                                        "label": "Drop (Blinds) mm"
                                    },
                                    {
                                        "name": "Blind Fabric",
                                        "type": "text",
                                        "label": "Blind Fabric"
                                    },
                                    {
                                        "name": "Fabric",
                                        "type": "text",
                                        "label": "Fabric"
                                    },
                                    {
                                        "name": "Blind Colour",
                                        "type": "text",
                                        "label": "Blind Colour"
                                    },
                                    {
                                        "name": "Colour",
                                        "type": "text",
                                        "label": "Colour"
                                    },
                                    {
                                        "name": "Blind Remote Control?",
                                        "type": "boolean",
                                        "label": "Blind Remote Control?"
                                    },
                                    {
                                        "name": "Remote Control Pricing",
                                        "type": "number",
                                        "label": "Remote Control Pricing"
                                    },
                                    {
                                        "name": "Chain Type",
                                        "type": "text",
                                        "label": "Chain Type"
                                    },
                                    {
                                        "name": "Control Side",
                                        "type": "text",
                                        "label": "Control Side"
                                    },
                                    {
                                        "name": "Baserail",
                                        "type": "text",
                                        "label": "Baserail"
                                    },
                                    {
                                        "name": "Operating Type",
                                        "type": "text",
                                        "label": "Operating Type"
                                    },
                                    {
                                        "name": "Mounting Option",
                                        "type": "text",
                                        "label": "Mounting Option"
                                    },
                                    {
                                        "name": "Extras",
                                        "type": "array",
                                        "label": "Extras",
                                        "dynamic": true,
                                        "editable": true
                                    },
                                    {
                                        "name": "Extras Total",
                                        "type": "number",
                                        "label": "Extras Total"
                                    },
                                    {
                                        "name": "Total without GST",
                                        "type": "text",
                                        "label": "Total without GST"
                                    },
                                    {
                                        "name": "Total + Markeup without GST",
                                        "type": "text",
                                        "label": "Total + Markeup without GST"
                                    },
                                    {
                                        "name": "GST (10%)",
                                        "type": "text",
                                        "label": "GST (10%)"
                                    },
                                    {
                                        "name": "TOTAL",
                                        "type": "text",
                                        "label": "TOTAL"
                                    },
                                    {
                                        "name": "Auto Price (from Pricing Group)",
                                        "type": "number",
                                        "label": "Auto Price (from Pricing Group)"
                                    },
                                    {
                                        "name": "Created",
                                        "type": "date",
                                        "label": "Created"
                                    },
                                    {
                                        "name": "Submission ID (Jotform) (from Property)",
                                        "type": "array",
                                        "label": "Submission ID (Jotform) (from Property)"
                                    },
                                    {
                                        "name": "Project ID",
                                        "type": "text",
                                        "label": "Project ID"
                                    },
                                    {
                                        "name": "User ID (Jotform)",
                                        "type": "text",
                                        "label": "User ID (Jotform)"
                                    },
                                    {
                                        "name": "Email (from User) (from Property)",
                                        "type": "array",
                                        "label": "Email (from User) (from Property)"
                                    },
                                    {
                                        "name": "Notes",
                                        "type": "text",
                                        "label": "Notes",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Last Modified",
                                        "type": "date",
                                        "label": "Last Modified"
                                    },
                                    {
                                        "name": "Another Furnishing?",
                                        "type": "boolean",
                                        "label": "Another Furnishing?"
                                    },
                                    {
                                        "name": "User",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "User"
                                    },
                                    {
                                        "name": "Pricing Groups (from User)",
                                        "type": "array",
                                        "label": "Pricing Groups (from User)"
                                    },
                                    {
                                        "name": "Markup Percentage",
                                        "type": "number",
                                        "label": "Markup Percentage"
                                    },
                                    {
                                        "name": "Installation Fee",
                                        "type": "number",
                                        "label": "Installation Fee"
                                    },
                                    {
                                        "name": "Rec ID",
                                        "type": "text",
                                        "label": "Rec ID"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2187809
                            },
                            "mapper": {
                                "id": "{{12.id}}",
                                "base": "appx5RsFAnrqtkKZW",
                                "table": "tblBKBYREbqRjgiKC",
                                "record": {
                                    "fldU8Ivad0uShn2aq": "{{6.value}}",
                                    "fldmrjc3HEZYnMtOs": "Price Retrieved"
                                },
                                "typecast": "{{true}}",
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Octopad"
                                        },
                                        "table": {
                                            "label": "Furnishings"
                                        },
                                        "record": {
                                            "nested": {
                                                "fld0NdNcCLkOnG5wk": {
                                                    "mode": "edit"
                                                },
                                                "fldGayIKrFaMgS40e": {
                                                    "mode": "chose"
                                                },
                                                "fldJLghWbuxZ3hU6N": {
                                                    "mode": "edit"
                                                },
                                                "fldRufDCfnJKGa8Nd": {
                                                    "mode": "edit"
                                                },
                                                "fldVSRv8HIDw10nmT": {
                                                    "mode": "chose"
                                                },
                                                "fldVwPIWWEQlOoqp8": {
                                                    "mode": "edit"
                                                },
                                                "fldX2Hac7dF1dt34i": {
                                                    "mode": "chose"
                                                },
                                                "fldYjMbUwQ3srew7v": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                },
                                                "fldb4kM0JiL3NC8RP": {
                                                    "mode": "edit"
                                                },
                                                "flddvQzyxoPeBOMq9": {
                                                    "mode": "edit"
                                                },
                                                "fldhYJVVCa1ei2GJQ": {
                                                    "mode": "chose"
                                                },
                                                "fldlLwQUSh7e5D6cY": {
                                                    "mode": "chose"
                                                },
                                                "fldlNFEgjw4cCRAOJ": {
                                                    "mode": "chose"
                                                },
                                                "fldmrjc3HEZYnMtOs": {
                                                    "mode": "chose",
                                                    "label": "Price Retrieved"
                                                },
                                                "fldnJFtRmUOSi9IIW": {
                                                    "mode": "edit"
                                                },
                                                "fldxEZMOZAGGiJ2sX": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "edit"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "My Airtable Token or Key connection (User ID: usrWg080oVeqLkqbN)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldPUCdmkGLS0jWbz",
                                                "type": "text",
                                                "label": "Window Name"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldYjMbUwQ3srew7v",
                                                "type": "select",
                                                "label": "Furnishing Type"
                                            },
                                            {
                                                "name": "fldlLwQUSh7e5D6cY",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Project"
                                            },
                                            {
                                                "name": "fldaJF8Pj2cVzlIiF",
                                                "type": "number",
                                                "label": "Width (mm)"
                                            },
                                            {
                                                "name": "fldRdRhIhHhi8Gc36",
                                                "type": "number",
                                                "label": "Drop (mm)"
                                            },
                                            {
                                                "name": "fld75w4tYrCiUCqlm",
                                                "type": "text",
                                                "label": "Shutter Colour"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "flddvQzyxoPeBOMq9",
                                                "type": "select",
                                                "label": "Shutter Type"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldJLghWbuxZ3hU6N",
                                                "type": "select",
                                                "label": "Tilt Rod Type"
                                            },
                                            {
                                                "name": "fldGayIKrFaMgS40e",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "File URL"
                                                    },
                                                    {
                                                        "name": "filename",
                                                        "type": "filename",
                                                        "label": "File name"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Photo"
                                            },
                                            {
                                                "name": "flduif7PI4k7r056U",
                                                "type": "number",
                                                "label": "Price/SQM"
                                            },
                                            {
                                                "name": "fldX2Hac7dF1dt34i",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Pricing Group"
                                            },
                                            {
                                                "name": "fldg7FXcqpWWOEdfY",
                                                "type": "number",
                                                "label": "Width (Blinds) mm"
                                            },
                                            {
                                                "name": "fld153CLyda5D0CTz",
                                                "type": "number",
                                                "label": "Drop (Blinds) mm"
                                            },
                                            {
                                                "name": "fldgr7Qr6cigh8qe3",
                                                "type": "text",
                                                "label": "Blind Fabric"
                                            },
                                            {
                                                "name": "fldPVKiHcQZ3fqms3",
                                                "type": "text",
                                                "label": "Blind Colour"
                                            },
                                            {
                                                "name": "fldVSRv8HIDw10nmT",
                                                "type": "boolean",
                                                "label": "Blind Remote Control?"
                                            },
                                            {
                                                "name": "fldEtrXmlR7jzGHSH",
                                                "type": "number",
                                                "label": "Remote Control Pricing"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fld0NdNcCLkOnG5wk",
                                                "type": "select",
                                                "label": "Chain Type"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldb4kM0JiL3NC8RP",
                                                "type": "select",
                                                "label": "Control Side"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldVwPIWWEQlOoqp8",
                                                "type": "select",
                                                "label": "Baserail"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldRufDCfnJKGa8Nd",
                                                "type": "select",
                                                "label": "Operating Type"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldnJFtRmUOSi9IIW",
                                                "type": "select",
                                                "label": "Mounting Option"
                                            },
                                            {
                                                "name": "fldhYJVVCa1ei2GJQ",
                                                "spec": {
                                                    "mode": "edit",
                                                    "name": "value",
                                                    "type": "select",
                                                    "label": "Value",
                                                    "dynamic": true,
                                                    "options": [
                                                        {
                                                            "label": "Extra 1",
                                                            "value": "Extra 1"
                                                        },
                                                        {
                                                            "label": "Extra 2",
                                                            "value": "Extra 2"
                                                        },
                                                        {
                                                            "label": "Extra 3",
                                                            "value": "Extra 3"
                                                        }
                                                    ],
                                                    "validate": false
                                                },
                                                "type": "array",
                                                "label": "Extras"
                                            },
                                            {
                                                "name": "fldJ0yn9Izp02myPG",
                                                "type": "number",
                                                "label": "Extras Total"
                                            },
                                            {
                                                "name": "fldU8Ivad0uShn2aq",
                                                "type": "number",
                                                "label": "Auto Price (from Pricing Group)"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldmrjc3HEZYnMtOs",
                                                "type": "select",
                                                "label": "Price Retrieved?"
                                            },
                                            {
                                                "name": "fld2cJNcpGxe9mEPf",
                                                "type": "text",
                                                "label": "Project ID"
                                            },
                                            {
                                                "name": "fldvaRegxPbeKR8Xf",
                                                "type": "text",
                                                "label": "User ID (Jotform)"
                                            },
                                            {
                                                "name": "fldbpb6u9LHd9hWHl",
                                                "type": "text",
                                                "label": "Notes"
                                            },
                                            {
                                                "name": "fldlNFEgjw4cCRAOJ",
                                                "type": "boolean",
                                                "label": "Another Furnishing?"
                                            },
                                            {
                                                "name": "fldxEZMOZAGGiJ2sX",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "User"
                                            },
                                            {
                                                "name": "fldYb2s5WMkJh2x1u",
                                                "type": "number",
                                                "label": "Markup Percentage"
                                            },
                                            {
                                                "name": "fldtCtRqeWBTrCCZD",
                                                "type": "number",
                                                "label": "Installation Fee"
                                            },
                                            {
                                                "name": "fldZ8FrPErtN5JqrG",
                                                "type": "text",
                                                "label": "Price calculation status"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Window Name",
                                        "type": "text",
                                        "label": "Window Name"
                                    },
                                    {
                                        "name": "Furnishing Type",
                                        "type": "text",
                                        "label": "Furnishing Type"
                                    },
                                    {
                                        "name": "Project",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Project"
                                    },
                                    {
                                        "name": "Available Pricing Groups (from Project)",
                                        "type": "array",
                                        "label": "Available Pricing Groups (from Project)"
                                    },
                                    {
                                        "name": "User (from Project)",
                                        "type": "array",
                                        "label": "User (from Project)"
                                    },
                                    {
                                        "name": "Email (from User) (from Project)",
                                        "type": "array",
                                        "label": "Email (from User) (from Project)"
                                    },
                                    {
                                        "name": "Record ID (from Project)",
                                        "type": "array",
                                        "label": "Record ID (from Project)"
                                    },
                                    {
                                        "name": "Width (All)",
                                        "type": "text",
                                        "label": "Width (All)"
                                    },
                                    {
                                        "name": "Drop (All)",
                                        "type": "text",
                                        "label": "Drop (All)"
                                    },
                                    {
                                        "name": "SQM Area",
                                        "type": "text",
                                        "label": "SQM Area"
                                    },
                                    {
                                        "name": "Width (mm)",
                                        "type": "number",
                                        "label": "Width (mm)"
                                    },
                                    {
                                        "name": "Drop (mm)",
                                        "type": "number",
                                        "label": "Drop (mm)"
                                    },
                                    {
                                        "name": "Shutter Colour",
                                        "type": "text",
                                        "label": "Shutter Colour"
                                    },
                                    {
                                        "name": "Shutter Type",
                                        "type": "text",
                                        "label": "Shutter Type"
                                    },
                                    {
                                        "name": "Tilt Rod Type",
                                        "type": "text",
                                        "label": "Tilt Rod Type"
                                    },
                                    {
                                        "name": "Photo",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File name"
                                            },
                                            {
                                                "name": "size",
                                                "type": "uinteger",
                                                "label": "Size"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "MIME type"
                                            },
                                            {
                                                "name": "thumbnails",
                                                "spec": [
                                                    {
                                                        "name": "small",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Small"
                                                    },
                                                    {
                                                        "name": "large",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Large"
                                                    },
                                                    {
                                                        "name": "full",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Full"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Thumbnails"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Photo"
                                    },
                                    {
                                        "name": "Price/SQM",
                                        "type": "number",
                                        "label": "Price/SQM"
                                    },
                                    {
                                        "name": "Total Price",
                                        "type": "text",
                                        "label": "Total Price"
                                    },
                                    {
                                        "name": "Pricing Group",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Pricing Group"
                                    },
                                    {
                                        "name": "Google Sheets ID (from Pricing Group)",
                                        "type": "array",
                                        "label": "Google Sheets ID (from Pricing Group)"
                                    },
                                    {
                                        "name": "RECORD ID (from Pricing Group)",
                                        "type": "array",
                                        "label": "RECORD ID (from Pricing Group)"
                                    },
                                    {
                                        "name": "Width (Blinds) mm",
                                        "type": "number",
                                        "label": "Width (Blinds) mm"
                                    },
                                    {
                                        "name": "Drop (Blinds) mm",
                                        "type": "number",
                                        "label": "Drop (Blinds) mm"
                                    },
                                    {
                                        "name": "Blind Fabric",
                                        "type": "text",
                                        "label": "Blind Fabric"
                                    },
                                    {
                                        "name": "Fabric",
                                        "type": "text",
                                        "label": "Fabric"
                                    },
                                    {
                                        "name": "Blind Colour",
                                        "type": "text",
                                        "label": "Blind Colour"
                                    },
                                    {
                                        "name": "Colour",
                                        "type": "text",
                                        "label": "Colour"
                                    },
                                    {
                                        "name": "Blind Remote Control?",
                                        "type": "boolean",
                                        "label": "Blind Remote Control?"
                                    },
                                    {
                                        "name": "Remote Control Pricing",
                                        "type": "number",
                                        "label": "Remote Control Pricing"
                                    },
                                    {
                                        "name": "Chain Type",
                                        "type": "text",
                                        "label": "Chain Type"
                                    },
                                    {
                                        "name": "Control Side",
                                        "type": "text",
                                        "label": "Control Side"
                                    },
                                    {
                                        "name": "Baserail",
                                        "type": "text",
                                        "label": "Baserail"
                                    },
                                    {
                                        "name": "Operating Type",
                                        "type": "text",
                                        "label": "Operating Type"
                                    },
                                    {
                                        "name": "Mounting Option",
                                        "type": "text",
                                        "label": "Mounting Option"
                                    },
                                    {
                                        "name": "Extras",
                                        "type": "array",
                                        "label": "Extras",
                                        "dynamic": true,
                                        "editable": true
                                    },
                                    {
                                        "name": "Extras Total",
                                        "type": "number",
                                        "label": "Extras Total"
                                    },
                                    {
                                        "name": "Total without GST",
                                        "type": "text",
                                        "label": "Total without GST"
                                    },
                                    {
                                        "name": "Total + Markeup without GST",
                                        "type": "text",
                                        "label": "Total + Markeup without GST"
                                    },
                                    {
                                        "name": "GST (10%)",
                                        "type": "text",
                                        "label": "GST (10%)"
                                    },
                                    {
                                        "name": "TOTAL",
                                        "type": "text",
                                        "label": "TOTAL"
                                    },
                                    {
                                        "name": "Auto Price (from Pricing Group)",
                                        "type": "number",
                                        "label": "Auto Price (from Pricing Group)"
                                    },
                                    {
                                        "name": "Price Retrieved?",
                                        "type": "text",
                                        "label": "Price Retrieved?"
                                    },
                                    {
                                        "name": "Created",
                                        "type": "date",
                                        "label": "Created"
                                    },
                                    {
                                        "name": "Submission ID (Jotform) (from Property)",
                                        "type": "array",
                                        "label": "Submission ID (Jotform) (from Property)"
                                    },
                                    {
                                        "name": "Project ID",
                                        "type": "text",
                                        "label": "Project ID"
                                    },
                                    {
                                        "name": "User ID (Jotform)",
                                        "type": "text",
                                        "label": "User ID (Jotform)"
                                    },
                                    {
                                        "name": "Email (from User) (from Property)",
                                        "type": "array",
                                        "label": "Email (from User) (from Property)"
                                    },
                                    {
                                        "name": "Notes",
                                        "type": "text",
                                        "label": "Notes",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Last Modified",
                                        "type": "date",
                                        "label": "Last Modified"
                                    },
                                    {
                                        "name": "Another Furnishing?",
                                        "type": "boolean",
                                        "label": "Another Furnishing?"
                                    },
                                    {
                                        "name": "User",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "User"
                                    },
                                    {
                                        "name": "Pricing Groups (from User)",
                                        "type": "array",
                                        "label": "Pricing Groups (from User)"
                                    },
                                    {
                                        "name": "Markup Percentage",
                                        "type": "number",
                                        "label": "Markup Percentage"
                                    },
                                    {
                                        "name": "Installation Fee",
                                        "type": "number",
                                        "label": "Installation Fee"
                                    },
                                    {
                                        "name": "Rec ID",
                                        "type": "text",
                                        "label": "Rec ID"
                                    },
                                    {
                                        "name": "Price calculation status",
                                        "type": "text",
                                        "label": "Price calculation status"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 26,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2187809
                            },
                            "filter": {
                                "name": "Out of Range",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{6.value}}",
                                            "b": "#N/A",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "id": "{{11.id}}",
                                "base": "appx5RsFAnrqtkKZW",
                                "table": "tblBKBYREbqRjgiKC",
                                "record": {
                                    "fldmrjc3HEZYnMtOs": "Dimensions Out of Range"
                                },
                                "typecast": "{{true}}",
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1728,
                                    "y": 413
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Octopad"
                                        },
                                        "table": {
                                            "label": "Furnishings"
                                        },
                                        "record": {
                                            "nested": {
                                                "fld0NdNcCLkOnG5wk": {
                                                    "mode": "edit"
                                                },
                                                "fldGayIKrFaMgS40e": {
                                                    "mode": "chose"
                                                },
                                                "fldJLghWbuxZ3hU6N": {
                                                    "mode": "edit"
                                                },
                                                "fldRufDCfnJKGa8Nd": {
                                                    "mode": "edit"
                                                },
                                                "fldVSRv8HIDw10nmT": {
                                                    "mode": "chose"
                                                },
                                                "fldVwPIWWEQlOoqp8": {
                                                    "mode": "edit"
                                                },
                                                "fldX2Hac7dF1dt34i": {
                                                    "mode": "chose"
                                                },
                                                "fldYjMbUwQ3srew7v": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                },
                                                "fldb4kM0JiL3NC8RP": {
                                                    "mode": "edit"
                                                },
                                                "flddvQzyxoPeBOMq9": {
                                                    "mode": "edit"
                                                },
                                                "fldhYJVVCa1ei2GJQ": {
                                                    "mode": "chose"
                                                },
                                                "fldlLwQUSh7e5D6cY": {
                                                    "mode": "chose"
                                                },
                                                "fldlNFEgjw4cCRAOJ": {
                                                    "mode": "chose"
                                                },
                                                "fldmrjc3HEZYnMtOs": {
                                                    "mode": "chose",
                                                    "label": "Dimensions Out of Range"
                                                },
                                                "fldnJFtRmUOSi9IIW": {
                                                    "mode": "edit"
                                                },
                                                "fldxEZMOZAGGiJ2sX": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "edit"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "My Airtable Token or Key connection (User ID: usrWg080oVeqLkqbN)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldPUCdmkGLS0jWbz",
                                                "type": "text",
                                                "label": "Window Name"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldYjMbUwQ3srew7v",
                                                "type": "select",
                                                "label": "Furnishing Type"
                                            },
                                            {
                                                "name": "fldlLwQUSh7e5D6cY",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Project"
                                            },
                                            {
                                                "name": "fldaJF8Pj2cVzlIiF",
                                                "type": "number",
                                                "label": "Width (mm)"
                                            },
                                            {
                                                "name": "fldRdRhIhHhi8Gc36",
                                                "type": "number",
                                                "label": "Drop (mm)"
                                            },
                                            {
                                                "name": "fld75w4tYrCiUCqlm",
                                                "type": "text",
                                                "label": "Shutter Colour"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "flddvQzyxoPeBOMq9",
                                                "type": "select",
                                                "label": "Shutter Type"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldJLghWbuxZ3hU6N",
                                                "type": "select",
                                                "label": "Tilt Rod Type"
                                            },
                                            {
                                                "name": "fldGayIKrFaMgS40e",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "File URL"
                                                    },
                                                    {
                                                        "name": "filename",
                                                        "type": "filename",
                                                        "label": "File name"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Photo"
                                            },
                                            {
                                                "name": "flduif7PI4k7r056U",
                                                "type": "number",
                                                "label": "Price/SQM"
                                            },
                                            {
                                                "name": "fldX2Hac7dF1dt34i",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Pricing Group"
                                            },
                                            {
                                                "name": "fldg7FXcqpWWOEdfY",
                                                "type": "number",
                                                "label": "Width (Blinds) mm"
                                            },
                                            {
                                                "name": "fld153CLyda5D0CTz",
                                                "type": "number",
                                                "label": "Drop (Blinds) mm"
                                            },
                                            {
                                                "name": "fldgr7Qr6cigh8qe3",
                                                "type": "text",
                                                "label": "Blind Fabric"
                                            },
                                            {
                                                "name": "fldPVKiHcQZ3fqms3",
                                                "type": "text",
                                                "label": "Blind Colour"
                                            },
                                            {
                                                "name": "fldVSRv8HIDw10nmT",
                                                "type": "boolean",
                                                "label": "Blind Remote Control?"
                                            },
                                            {
                                                "name": "fldEtrXmlR7jzGHSH",
                                                "type": "number",
                                                "label": "Remote Control Pricing"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fld0NdNcCLkOnG5wk",
                                                "type": "select",
                                                "label": "Chain Type"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldb4kM0JiL3NC8RP",
                                                "type": "select",
                                                "label": "Control Side"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldVwPIWWEQlOoqp8",
                                                "type": "select",
                                                "label": "Baserail"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldRufDCfnJKGa8Nd",
                                                "type": "select",
                                                "label": "Operating Type"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldnJFtRmUOSi9IIW",
                                                "type": "select",
                                                "label": "Mounting Option"
                                            },
                                            {
                                                "name": "fldhYJVVCa1ei2GJQ",
                                                "spec": {
                                                    "mode": "edit",
                                                    "name": "value",
                                                    "type": "select",
                                                    "label": "Value",
                                                    "dynamic": true,
                                                    "options": [
                                                        {
                                                            "label": "Extra 1",
                                                            "value": "Extra 1"
                                                        },
                                                        {
                                                            "label": "Extra 2",
                                                            "value": "Extra 2"
                                                        },
                                                        {
                                                            "label": "Extra 3",
                                                            "value": "Extra 3"
                                                        }
                                                    ],
                                                    "validate": false
                                                },
                                                "type": "array",
                                                "label": "Extras"
                                            },
                                            {
                                                "name": "fldJ0yn9Izp02myPG",
                                                "type": "number",
                                                "label": "Extras Total"
                                            },
                                            {
                                                "name": "fldU8Ivad0uShn2aq",
                                                "type": "number",
                                                "label": "Auto Price (from Pricing Group)"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldmrjc3HEZYnMtOs",
                                                "type": "select",
                                                "label": "Price Retrieved?"
                                            },
                                            {
                                                "name": "fld2cJNcpGxe9mEPf",
                                                "type": "text",
                                                "label": "Project ID"
                                            },
                                            {
                                                "name": "fldvaRegxPbeKR8Xf",
                                                "type": "text",
                                                "label": "User ID (Jotform)"
                                            },
                                            {
                                                "name": "fldbpb6u9LHd9hWHl",
                                                "type": "text",
                                                "label": "Notes"
                                            },
                                            {
                                                "name": "fldlNFEgjw4cCRAOJ",
                                                "type": "boolean",
                                                "label": "Another Furnishing?"
                                            },
                                            {
                                                "name": "fldxEZMOZAGGiJ2sX",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "User"
                                            },
                                            {
                                                "name": "fldYb2s5WMkJh2x1u",
                                                "type": "number",
                                                "label": "Markup Percentage"
                                            },
                                            {
                                                "name": "fldtCtRqeWBTrCCZD",
                                                "type": "number",
                                                "label": "Installation Fee"
                                            },
                                            {
                                                "name": "fldZ8FrPErtN5JqrG",
                                                "type": "text",
                                                "label": "Price calculation status"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Window Name",
                                        "type": "text",
                                        "label": "Window Name"
                                    },
                                    {
                                        "name": "Furnishing Type",
                                        "type": "text",
                                        "label": "Furnishing Type"
                                    },
                                    {
                                        "name": "Project",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Project"
                                    },
                                    {
                                        "name": "Available Pricing Groups (from Project)",
                                        "type": "array",
                                        "label": "Available Pricing Groups (from Project)"
                                    },
                                    {
                                        "name": "User (from Project)",
                                        "type": "array",
                                        "label": "User (from Project)"
                                    },
                                    {
                                        "name": "Email (from User) (from Project)",
                                        "type": "array",
                                        "label": "Email (from User) (from Project)"
                                    },
                                    {
                                        "name": "Record ID (from Project)",
                                        "type": "array",
                                        "label": "Record ID (from Project)"
                                    },
                                    {
                                        "name": "Width (All)",
                                        "type": "text",
                                        "label": "Width (All)"
                                    },
                                    {
                                        "name": "Drop (All)",
                                        "type": "text",
                                        "label": "Drop (All)"
                                    },
                                    {
                                        "name": "SQM Area",
                                        "type": "text",
                                        "label": "SQM Area"
                                    },
                                    {
                                        "name": "Width (mm)",
                                        "type": "number",
                                        "label": "Width (mm)"
                                    },
                                    {
                                        "name": "Drop (mm)",
                                        "type": "number",
                                        "label": "Drop (mm)"
                                    },
                                    {
                                        "name": "Shutter Colour",
                                        "type": "text",
                                        "label": "Shutter Colour"
                                    },
                                    {
                                        "name": "Shutter Type",
                                        "type": "text",
                                        "label": "Shutter Type"
                                    },
                                    {
                                        "name": "Tilt Rod Type",
                                        "type": "text",
                                        "label": "Tilt Rod Type"
                                    },
                                    {
                                        "name": "Photo",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File name"
                                            },
                                            {
                                                "name": "size",
                                                "type": "uinteger",
                                                "label": "Size"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "MIME type"
                                            },
                                            {
                                                "name": "thumbnails",
                                                "spec": [
                                                    {
                                                        "name": "small",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Small"
                                                    },
                                                    {
                                                        "name": "large",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Large"
                                                    },
                                                    {
                                                        "name": "full",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Full"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Thumbnails"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Photo"
                                    },
                                    {
                                        "name": "Price/SQM",
                                        "type": "number",
                                        "label": "Price/SQM"
                                    },
                                    {
                                        "name": "Total Price",
                                        "type": "text",
                                        "label": "Total Price"
                                    },
                                    {
                                        "name": "Pricing Group",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Pricing Group"
                                    },
                                    {
                                        "name": "Google Sheets ID (from Pricing Group)",
                                        "type": "array",
                                        "label": "Google Sheets ID (from Pricing Group)"
                                    },
                                    {
                                        "name": "RECORD ID (from Pricing Group)",
                                        "type": "array",
                                        "label": "RECORD ID (from Pricing Group)"
                                    },
                                    {
                                        "name": "Width (Blinds) mm",
                                        "type": "number",
                                        "label": "Width (Blinds) mm"
                                    },
                                    {
                                        "name": "Drop (Blinds) mm",
                                        "type": "number",
                                        "label": "Drop (Blinds) mm"
                                    },
                                    {
                                        "name": "Blind Fabric",
                                        "type": "text",
                                        "label": "Blind Fabric"
                                    },
                                    {
                                        "name": "Fabric",
                                        "type": "text",
                                        "label": "Fabric"
                                    },
                                    {
                                        "name": "Blind Colour",
                                        "type": "text",
                                        "label": "Blind Colour"
                                    },
                                    {
                                        "name": "Colour",
                                        "type": "text",
                                        "label": "Colour"
                                    },
                                    {
                                        "name": "Blind Remote Control?",
                                        "type": "boolean",
                                        "label": "Blind Remote Control?"
                                    },
                                    {
                                        "name": "Remote Control Pricing",
                                        "type": "number",
                                        "label": "Remote Control Pricing"
                                    },
                                    {
                                        "name": "Chain Type",
                                        "type": "text",
                                        "label": "Chain Type"
                                    },
                                    {
                                        "name": "Control Side",
                                        "type": "text",
                                        "label": "Control Side"
                                    },
                                    {
                                        "name": "Baserail",
                                        "type": "text",
                                        "label": "Baserail"
                                    },
                                    {
                                        "name": "Operating Type",
                                        "type": "text",
                                        "label": "Operating Type"
                                    },
                                    {
                                        "name": "Mounting Option",
                                        "type": "text",
                                        "label": "Mounting Option"
                                    },
                                    {
                                        "name": "Extras",
                                        "type": "array",
                                        "label": "Extras",
                                        "dynamic": true,
                                        "editable": true
                                    },
                                    {
                                        "name": "Extras Total",
                                        "type": "number",
                                        "label": "Extras Total"
                                    },
                                    {
                                        "name": "Total without GST",
                                        "type": "text",
                                        "label": "Total without GST"
                                    },
                                    {
                                        "name": "Total + Markeup without GST",
                                        "type": "text",
                                        "label": "Total + Markeup without GST"
                                    },
                                    {
                                        "name": "GST (10%)",
                                        "type": "text",
                                        "label": "GST (10%)"
                                    },
                                    {
                                        "name": "TOTAL",
                                        "type": "text",
                                        "label": "TOTAL"
                                    },
                                    {
                                        "name": "Auto Price (from Pricing Group)",
                                        "type": "number",
                                        "label": "Auto Price (from Pricing Group)"
                                    },
                                    {
                                        "name": "Price Retrieved?",
                                        "type": "text",
                                        "label": "Price Retrieved?"
                                    },
                                    {
                                        "name": "Created",
                                        "type": "date",
                                        "label": "Created"
                                    },
                                    {
                                        "name": "Submission ID (Jotform) (from Property)",
                                        "type": "array",
                                        "label": "Submission ID (Jotform) (from Property)"
                                    },
                                    {
                                        "name": "Project ID",
                                        "type": "text",
                                        "label": "Project ID"
                                    },
                                    {
                                        "name": "User ID (Jotform)",
                                        "type": "text",
                                        "label": "User ID (Jotform)"
                                    },
                                    {
                                        "name": "Email (from User) (from Property)",
                                        "type": "array",
                                        "label": "Email (from User) (from Property)"
                                    },
                                    {
                                        "name": "Notes",
                                        "type": "text",
                                        "label": "Notes",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Last Modified",
                                        "type": "date",
                                        "label": "Last Modified"
                                    },
                                    {
                                        "name": "Another Furnishing?",
                                        "type": "boolean",
                                        "label": "Another Furnishing?"
                                    },
                                    {
                                        "name": "User",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "User"
                                    },
                                    {
                                        "name": "Pricing Groups (from User)",
                                        "type": "array",
                                        "label": "Pricing Groups (from User)"
                                    },
                                    {
                                        "name": "Markup Percentage",
                                        "type": "number",
                                        "label": "Markup Percentage"
                                    },
                                    {
                                        "name": "Installation Fee",
                                        "type": "number",
                                        "label": "Installation Fee"
                                    },
                                    {
                                        "name": "Rec ID",
                                        "type": "text",
                                        "label": "Rec ID"
                                    },
                                    {
                                        "name": "Price calculation status",
                                        "type": "text",
                                        "label": "Price calculation status"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}